.container
  .row.u-margin-top-md.u-margin-bottom-lg
    .col-md-12

      %h1 GitLab Groundworks
      %p Join us a day early this fall to participate in one of our four GitLab Groundworks sessions. Spend the day with GitLab experts from our Professional Services team, who will guide you through in-depth product demonstrations and hands-on activities. After the session, you’ll be invited to complete assessments and earn GitLab Certification.

      %h4 Prerequisite knowledge
      %ul
        %li Agile development
        %li Source code management
      %h4 System requirements
      %ul
        %li See the <a href="/services/education/prereq/">pre-session requirements</a>
      %p This will be a separate ticket from the main GitLab Commit experience, more information on courses, registration & pricing coming soon.

      %h2.u-margin-top-md Courses
      .row
        .col-md-6
          %h4 GitLab with Git Basics
          %ul
            %li Who it's for
            %ul
              %li Anyone new to Git and GitLab.
          %ul
            %li What you'll learn
            %ul
              %li What GitLab does, why DevOps teams use it, and how it works with Git.
              %li Key processes and tasks teams work on in GitLab, such as committing changes, creating branches and merge requests, using a CI/CD pipeline, and accessing security scanning.

        .col-md-6
          %h4 GitLab CI/CD
          %ul
            %li
              %strong Who it's for
            %ul
              %li Technical project leads
          %ul
            %li
              %strong What you'll learn
            %ul
              %li What CI/CD does, why DevOps teams use it, and how it works within GitLab.
              %li How to set up and apply CI/CD inside GitLab.

        .col-md-6
          %h4 GitLab for Project Managers
          %ul
            %li
              %strong Who it's for
            %ul
              %li Project managers
          %ul
            %li
              %strong What you'll learn
            %ul
              %li How to set up projects by creating issues, labels, milestones, and groups.
              %li Approaches for managing projects using GitLab boards, epics, and roadmaps.
              %li Best practices for using GitLab to develop portfolio plans.

        .col-md-6
          %h4 GitLab InnerSourcing
          %ul
            %li
              %strong Who it's for
            %ul
              %li Development team members
          %ul
            %li
              %strong What you'll learn
            %ul
              %li What InnerSourcing is, why development teams use it, and the key components for success.
              %li Best practices used by GitLab's own development teams.
