.hero-video-container#hero-video-container
  %iframe#hero-video{ src: "", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", frameborder: "0", allowfullscreen: "1" }

.blank-header.commit-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    = image_tag "/images/events/gitlab-commit/gitlab-commit-horizontal-logo-white.svg", class: "hero-commit-image-large", alt: "Gitlab Commit logo"
    %h3 GitLab's premier user conference
    %p Join us and commit to a day of DevOps inspiration and innovation.
